<div class="container">
  <button class="bt" (click)="navigateToHome()">
    <div class="logo parent">
      LOOP
    </div>
  </button>
  <div class="parent">
  <input type="text" id="search" title="search" placeholder="SEARCH USERNAME" (input)="onSearch()" [(ngModel)]="searchQuery"/>
  <div class="child-search" *ngIf="users.length > 0" #searchInput>
    <p *ngFor="let user of users"><button class="bt white" (click)="visitProfile(user.username)">{{user.username}}</button></p>

  </div>
  </div>
    <div class="parent">
        <button class="bt p-r" (click)="toggleMenu()">PROFILE</button>
          <ul class="child" [hidden]="!showMenu"> 
              <li>
                  <button class="bt white" (click)="viewProfile()">
                     VIEW PROFILE
                  </button>
              </li>
              <li>
                <button class="bt white" (click)="logout()">
                    SIGN OUT
                </button>
              </li>
          </ul>              
    </div>
</div>
