<div class="container">
  <button class="bt" (click)="navigateToHome()">
    <div class="logo parent">
      LOOP
    </div>
  </button>
  <div class="parent">
  <input type="text" id="search" title="search" placeholder="SEARCH USERNAME" (input)="onSearch()" [(ngModel)]="searchQuery"/>
  <div class="child-search" *ngIf="users.length > 0">
    <p *ngFor="let user of users">{{user.username}}</p>
  </div>
  </div>
    <div class="parent p-r">
        PROFILE
        <div class="child">
            <ul>
                <li>
                    <button class="bt" (click)="viewProfile()">
                      VIEW PROFILE
                    </button>
                </li>
                <li>
                  <button class="bt">
                    EDIT PROFILE
                  </button>
                </li>
                <li>
                  <button class="bt" (click)="logout()">
                    SIGN OUT
                  </button>
                </li>
            </ul>              
        </div>
    </div>
</div>
