<div class="container">
    <div class="logo">
        <p>Loop</p>
    </div>
    <div class="parent">
        profile
        <div class="child">
            <ul>
                <li>
                    <button class="bt" (click)="viewProfile()">
                      view profile
                    </button>
                  </li>
                <li>
                  <button class="bt" (click)="logout()">
                    sign out
                  </button>
                </li>
            </ul>              
        </div>
    </div>
</div>
