<app-navigation />
<button class="mb">
    +
</button>

<div class="post-container">
    <div>
        <p class="f-700">farrahpepino</p>
        <p class="f-100 st">Jan 26, 2025 at 6:04 PM</p>
    </div>
    <p>i've been singing back to friends by sombr and crashing out. so good and hes beautiful not my type but what a guy. ive also watched my oxford year today and i learned corey's lastname mylcheester? very productive day.</p>
    <hr>
    <div class="react">
        <button class="bt">like</button>
        <button class="bt" (click)="viewPost()">comment</button>
    </div> 
</div>
<br>

<!-- post details -->
<div class="backdrop" [class.hidden]="!showPost"></div>
<div class="post-details" [class.hidden]="!showPost">
    <div class="col">
        <div>
            <p class="f-700">farrahpepino</p>
            <p class="f-100 st">September 26, 2025 at 6:04 PM</p>
        </div>
        <button class="bt" (click)="hidePost()">X</button>
    </div>
    <p>i've been singing back to friends by sombr and crashing out. so good and hes beautiful not my type but what a guy. ive also watched my oxford year today and i learned corey's lastname mylcheester? very productive day.</p>
    <hr>
    <div class="react">
        <p>like</p>
        <p>comment</p>
    </div> 
    <hr>
    <!-- comments -->
    <div class="comments-container">
        <div class="comment"> 
            <div class="comment-content">
                <p class="f-700">farrahpepino</p>
                <p>Hey omg!!</p>
                <p class="f-100 st">September 26, 2025 at 6:04 PM</p>
            </div>
        </div>
    </div>  
    <div>
        <form action="">
            <input type="text" placeholder="Add a comment..." />
            <button type="submit">post</button>
        </form>
    </div>
</div>
