html, body { height: 100%; }
body{
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 12px;
    margin: 0;
    font-weight: 100;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px); 
  z-index: 998; 
}

button{
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.center{
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.col{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.f-100{
  font-weight: 100;
}

.f-300{
  font-weight: 300;

}

.fullscreen-img{
  max-width: 90%;   
  max-height: 90%;  
  width: auto;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.fullscreen-bg{
  z-index: 1009; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-bg  button {
  position: absolute;
  top: 20px;   
  right: 8px; 
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

hr{
  opacity: 10%;
  height: 1px;
}

.inp {
  position: relative;
  padding: 10px;
  border-radius: 20px;
  isolation: isolate;
  background-color: transparent;
  color: rgb(0 0 0 / 90%);
  font-weight: 100;
  text-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  font-size: 12px;
}

input{
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-weight: 100;

}

input::placeholder{
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-weight: 100;
}

.logo{
  font-family: Arial;
  font-size: 20px;
}

.w-7rem{
  width: 7rem;
}

.st{
  font-size: smaller;
}

.y-center{
  display: flex;
  align-items: center;
  height: 50vh;
}

.underline{
  text-decoration: underline;
}

.flex{
  display: flex;
}

.right{
  text-align: right;
  display: flex;
}

