html, body { height: 100%; }
body{
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 12px;
    margin: 0;
    font-weight: 100;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px); 
  z-index: 998; 
}

.col{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.f-100{
  font-weight: 100;
}

.f-700{
  font-weight: 700;

}

hr{
  opacity: 20%;
}

.inp {
  position: relative;
  padding: 10px;
  border-radius: 20px;
  isolation: isolate;
  background-color: transparent;
  color: rgb(0 0 0 / 90%);
  font-weight: 100;
  text-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  font-size: 12px;
}

.logo{
font-family: Arial;
font-size: 20px;
width: 5rem;
}

.w-7rem{
  width: 7rem;
}

.st{
  font-size: smaller;
}


