<form action="">
    <label class="liquid-glass"> email
    <input type="email" placeholder="johndoe@email.com" />
    </label>
    <label class="liquid-glass"> username
        <input type="text" placeholder="johndoe"/>
    </label>
    <label class="liquid-glass"> password
        <input type="password" placeholder="••••••••••"/>
    </label>
    <label class="liquid-glass"> confirm password
        <input type="password" placeholder="••••••••••"/>
    </label>
    <button type="submit">sign up</button>
</form>

