<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" name="registerForm" id="registerForm">
    <label class="liquid-glass"> email
    <input type="email" formControlName="email"/>
    </label>
    <label class="liquid-glass"> username
        <input type="text"  formControlName="username"/>
    </label>
    <label class="liquid-glass"> password
        <input type="password" formControlName="password"/>
    </label>
    <label class="liquid-glass"> confirm password
        <input type="password"  formControlName="confirmPassword"/>
    </label>
    <button type="submit" [disabled]="registerForm.invalid">sign up</button>
</form>


<!-- fix css later -->
<p *ngIf="registerForm.errors?.['passwordsMismatch']" class="f-100">
    Passwords do not match
</p>