.b{
    background-color: rgb(0,0,0,0.1);
    outline: none;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 7px 10px;
    position: absolute;  
    right: 15px;         
}

.b:hover{
    background-color: #0D0D0D;
    color: white;
}

.b-l{
    background-color: transparent;
    outline: none;
    color: #0d0d0d;
    border: none;
    padding: 7px 0px;
    position: absolute; 
    z-index: 1009;
}

.b-l:hover{
    color: rgb(0,0,0, 0.3);
}

.big-icon {
    font-size: 22px;  
}

.brd{
    outline: none;
    width: 97%;
    font-family: Arial;
    border-radius: 20px;
    border: solid 0.5px rgb(0,0,0,0.1);
    padding: 10px;
    contain: content;
    margin-top: 8px;
    margin: 0 auto;
}

.bt{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 100;
}

.child{
    position: absolute;
    visibility: hidden;
    text-align: left;
    padding: 10px;
    padding-top: 15px;
    left: 25px;
    top: -15px;
    background-color: #0D0D0D;
    width: 80px;
    max-height: 12rem;
    z-index: 1008;
    overflow-y: scroll;
}

.child p{
    color: (255, 255, 255, 0.6);
}

.child-right{
    position: absolute;
    text-align: left;
    padding: 10px;
    right: 5px;
    top: 10px;
    background-color: #0D0D0D;
    width: 120px;
    max-height: 12rem;
    z-index: 1008;
    overflow-y: scroll;
    outline: none;
    border: none;
}

.comment{
    background-color: rgb(0,0,0,0.1);
    padding: 10px;
    border-radius: 20px;
    display: inline-flex;      
    max-width: 80%;         
    word-wrap: break-word;
}

.comments-container {
    display: flex;   
    flex-direction: column;     
    flex-wrap: wrap;       
    align-items: flex-start;
    gap: 6px;      
}

.contain{
    contain: content;
}

.f-b{
    background-color: rgb(0,0,0,0.1);
    outline: none;
    color: black;
    border: none;
    border-radius: 20px;
    position: fixed;
    right: 2px;
    bottom: 2px;
    margin-top: 10px;
    z-index: 1003;
    padding: 7px 10px;
 }

.f-b:hover{
    background-color: #0D0D0D;
    color: white;
}

form{
    margin-top: 5px;
    z-index: 1002;
}

.hidden{
    visibility: hidden;
}

.img-wrapper {
    position: relative; 
    display: inline-block;
}

.img-wrapper button {
    position: absolute;
    top: 20px;   
    right: 8px; 
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.img-wrapper img {
    width: 15rem;
    height: auto;
    margin: 15px 0;
    border-radius: 15px;
    display: block;
}

.interest-block{
    position: fixed;
    width: 70%;
    background-color: #0D0D0D;
    contain: content;
    top: 50%; 
    left: 50%; 
    color: white;
    transform: translate(-50%, -50%); 
    z-index: 1005; 
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    padding: 15px 10px;
    padding-top: 20px;
    overflow-y: scroll; 
    max-height: 80vh;
    height: 20vh;
}

.mb{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: rgb(0, 0, 0, 0.8);
    position: fixed;
    right:20px;
    bottom: 5%;
    font-size: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    z-index: 1004;
} 

p{
    margin: 0;
    text-align: left;
}

.p-10{
    padding-left: 10px;
}

.parent{
    position: relative;
}

.parent:hover .child {
    visibility: visible;
}

.p-i{
    outline: none;
    width: 87%;
}
  
.p-i[placeholder]:empty:before {
    content: attr(placeholder);
    opacity: 20%; 
}

.post-block {
    position: fixed;
    width: 70%;
    background-color: white;
    contain: content;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1005; 
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    padding: 15px 10px;
    padding-top: 20px;
    overflow-y: scroll; 
    max-height: 80vh;
}

.post-container{
    width: 70%;
    padding: 10px 15px;
    padding-top: 20px;
    background-color: white;
    border-radius: 20px;
    /* contain: content; */
    z-index: 1;
    margin: 10px auto;
}

.post-div{
    padding: 6px 0px;
    display: flex;
    align-items: center;
}

.post-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.uploaded-img{
    width: 15rem;
    height: auto;
    margin: 17px 0px;
    border-radius: 15px;
    display: block;
}

.white{
    color: rgb(255, 255, 255, 0.6)
}

.react{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: rgb(0,0,0,0.5);
}

.red{
    color: #F73644;
}

.y-center{
    height: 90%;
}

@media(max-width: 1000px){
      
    .brd {
        width: 92%;
    }

    .img-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    
    .img-wrapper img {
        width: 100%;
    }

    .main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .post-container{
        width:90%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px; 
        padding: 10px 10px;
    }
   
    .uploaded-img{
        width: 70%;
        display: flex;
        margin: 0 auto;
    }
}