<app-navigation />

<button class="mb" (click)="viewForm()">
    +
</button>

<br>
<br>
<div class="center"> {{user!.username.toUpperCase()}}</div>
<div class="center">
    <div class="flex">
    <button class="bt center" (click)="follow()" *ngIf="user!.username !== sessionUser!.username"><strong>{{isFollowing ? "following" : "follow"}}</strong></button> <p *ngIf="user!.username !== sessionUser!.username">|</p> <button class="underline bt" (click)="viewInterest()">{{ interests!.length }} INTERESTS </button>
    </div>
</div>
<div class="post-wrapper content" *ngIf="posts.length>0; else noPost">
<div class="post-container" *ngFor="let post of posts" >
   
    <div class="post-header">
        <div>
            <p class="f-300">{{post.username}}</p>
            <p class="f-100 st">{{post.createdAt | date: 'MMM d, y \'at\' h:mm a' }}</p>
        </div>
        <div class="parent">
            <button *ngIf="post.username===sessionUser?.username" class="bt menu" (click)="toggleDropdown(post, 1)">•••</button>
            <ul class="child-right" [class.hidden]="!post.outerDropdown || post.innerDropdown || showForm || showPost || showInterest">
                <li><button (click)="deletePost(post.id, post.imageKey!)" class="bt white">DELETE POST</button></li>
            </ul>
        </div>
    </div>
    <p>{{post.content}}</p>
    <img
    *ngIf="post.imageUrl"
    [src]="post.imageUrl"
    alt="uploaded image"
    class="uploaded-img"> 
    <div class="react w-7rem">
        <div class="parent">
            <button type="button" class="bt" title="like" (click)="toggleLike(post)">
            <i 
            [ngClass]="isLiked(post.id) ? 'fa-solid fa-heart' : 'fa-regular fa-heart'" 
            [style.color]="isLiked(post.id) ? 'red' : 'rgb(0,0,0,0.5)'"
            >
            </i>
            </button>
            <div class="child"  *ngIf="post.likes && post.likes.length > 0">
                <div class="p-10" *ngFor="let like of post.likes">
                    <p class="white">{{like.username===sessionUser?.username ? "You" : like.username}}</p>
                </div>
            </div>
        </div>
        <button class="bt" [style.color]="'rgba(0,0,0,0.5)'" (click)="viewPost(post.id)">
            <i class="fa-regular fa-comment" title="comment" ></i>
        </button>
    </div> 
</div>
</div>

<div class="backdrop" [class.hidden]="!showForm"></div>
<div class="post-block" [class.hidden]="!showForm">
    <div class="col">
        <div>
            <p class="f-300">{{sessionUser?.username}}</p>
        </div>
        
        <button class="bt" (click)="hideForm()">X</button>
    </div>
    <div class="post-wrapper">
        <p 
          class="p-i"
          contenteditable="true"
          placeholder="Type something..."
          #postInput>
        </p>
      
        <div class="img-wrapper" *ngIf="previewUrl">
          <img [src]="previewUrl" alt="Uploaded image"/>
          <button type="button" (click)="unselectFile()">X</button>
        </div>
      
          <input
            type="file"
            id="fileInput"
            accept="image/*"
            (change)="onFileSelected($event)"
            hidden
          />
    </div>
    <div class="post-div">
        <label for="fileInput" class="upload-label">
            <i class="fa fa-image big-icon"></i>
        </label>
        <br>
        <button type="button" class="b" (click)="submitPost()">Post</button>
    </div>
</div>


<div class="backdrop" [class.hidden]="!showPost"></div>
<div class="post-block" [class.hidden]="!showPost" *ngIf="post">
    <div class="col">
        <div class="post-header">
            <div>
                <p class="f-300">{{post.username}}</p>
                <p class="f-100 st">{{post.createdAt | date: 'MMM d, y \'at\' h:mm a' }}</p>
            </div>
        </div>
        <div class="col">
            <div class="parent">
                <button *ngIf="post.username===sessionUser?.username" class="bt menu" (click)="toggleDropdown(post, 2)">•••</button>
                <ul class="child-right" [class.hidden]="!post.innerDropdown || post.outerDropdown">
                    <li><button (click)="deletePost(post.id, post.imageKey!)" class="bt white">DELETE POST</button></li>
                </ul>
            </div>
            <button class="bt" (click)="hidePost()">X</button>
        </div>
    </div>
    <p>{{post.content}}</p>
    <img
    *ngIf="post.imageUrl"
    [src]="post.imageUrl"
    alt="uploaded image"
    class="uploaded-img"> 
    <hr>
    <div class="react w-7rem">
        <div class="parent">
            <button type="button" class="bt" title="like" (click)="toggleLike(post)">
            <i 
            [ngClass]="isLiked(post.id) ? 'fa-solid fa-heart' : 'fa-regular fa-heart'" 
            [style.color]="isLiked(post.id) ? 'red' : 'rgb(0,0,0,0.5)'"
            >
            </i>
            </button>
            <div class="child"  *ngIf="post.likes && post.likes.length > 0">
                <div class="p-10" *ngFor="let like of post.likes">
                    <p class="white">{{like.username===sessionUser?.username ? "You" : like.username}}</p>
                </div>
            </div>
        </div>
    
        <p><i class="fa-regular fa-comment" title="comment" ></i>({{commentCount}})</p>
    </div> 
    <hr>
    <div class="comments-container">
        <div class="comment" *ngFor="let comment of comments"> 
            <div class="comment-content">
                <p class="f-300">{{comment.username}}</p>
                <p>{{comment.content}}</p>
                <p class="f-100 st">{{comment.createdAt | date: 'MMM d, y \'at\' h:mm a'}}</p>
            </div>
        </div>
    </div>  
    <div>
        <div class="brd">
        <p class="p-i" contenteditable="true" placeholder="Add a comment..."  #commentInput> </p>
        <button class="f-b" type="submit" (click)="submitComment(post.id)">post</button>
        </div>
    </div>
</div>


<ng-template #noPost>
    <p class="center y-center">No post yet.</p>
</ng-template>

<div class="backdrop" [class.hidden]="!showInterest">
    <div class="interest-block" *ngIf="interests" [class.hidden]="!showInterest">
        <button class="bt white right" (click)="hideInterest()"><</button>
        <strong class="center">INTERESTS</strong>
        <br><br>
        <div *ngIf="interests.length>0">
            <p *ngFor="let interest of interests" class="white center">{{interest!.username.toUpperCase()}}</p>
        </div>
        <p *ngIf="interests.length===0" class="white center">NO INTERESTS</p>

    </div>
</div>