<!-- <video autoplay muted loop playsinline class="bg-video">
    <source src="/bg.mov" type="video/mp4" />
    Your browser does not support the video tag.
</video> -->
  
<div class="content">
    <div class="item">
        <p class="logo">Loop</p>
        <p class="f-100 st">A quiet space to share what you love...</p>
    </div>
    <div class="item">
        <app-login *ngIf="showLogin"/>
        <app-register *ngIf="!showLogin"/>
        <p class="f-100 st">
            {{showLogin? "Don't have an account? " : "Already have an account? "}}
            <button class="toggle-b st" (click)="toggleForm()">{{showLogin ? "Register." : "Log in."}}</button>
        </p>    
    </div>
</div>