body{
    width: 100vw;
    height: 100vh;
    background-color: #0D0D0D;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
}
p{
    padding: 20px;
}

.content{
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 99%;
    bottom:0;
    height: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.logo{
    color: white;
    margin: 0 auto;
}

.st{
    color: black;
}

.header{
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.toggle-b{
    border: none;
    padding: 0 auto;
    outline: none;
    background: transparent;
    font-family: Arial;
    color: #0D0D0D;
}

.toggle-b:hover{
    color: rgb(0, 0, 0, 0.6);
}

@media (max-width: 850px) {
    .content {
      display: flex;
      justify-items: center;  
      text-align: center;  
    }
 }
  
 
