<body>
    <div class="header">
        <p class="logo">L O O P</p>
        <div>A quiet space to share what you love.</div>
    </div>
    <div class="content">
        <div>
        <app-login *ngIf="showLogin"/>
        <app-register *ngIf="!showLogin"/>
        </div>
        <p class="st">
            {{showLogin? "Don't have an account? " : "Already have an account? "}}
            <button class="toggle-b st" (click)="toggleForm()">{{showLogin ? "REGISTER." : "LOG IN."}}</button>
        </p>    
    </div>  
</body>