.img-wrapper {
    position: relative; 
    display: inline-block;
}
  
  .img-wrapper img {
    width: 15rem;
    height: auto;
    margin: 15px 0;
    border-radius: 15px;
    display: block;
  }
  
  .img-wrapper button {
    position: absolute;
    top: 20px;   
    right: 8px; 
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  
  @media (max-width: 1000px) {
    .img-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .img-wrapper img {
      width: 100%;
    }
  }
  